.title.toc-ignore {
  display: none;
}

.realtitle {
  font-size: 500%;
}

body .main-container {
 max-width: 750px;
 margin-left: auto;
 margin-right: auto;
}

h1.realtitle {
  margin-top: 4px;
}

.creatednav {
  padding-right: 10px;
  padding-left: 10px;
}

table, tr, td {
  padding:10px;
}

button.accordion {
     background-color: #F5F5F5;
     color: #444;
     cursor: pointer;
     padding: 10px;
     width: 100%;
     border: none;
     text-align: left;
     outline: none;
     font-size: 16px;
     font-weight: bold;
}

button.accordion.active, button.accordion:hover {
     background-color: #E0E0E0;
}

button.accordion:before {
     content: '\2795';
     font-size: 20px;
     color: #777;
     font-weight: bold;
     margin-left: 0.5em;
     float: right;
}

button.accordion.active:before {
     content: '\2796';
}
